<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content-login">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" size="large" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="button" size="small" [routerLink]="['/cadastro']" expand="block">Crie sua conta</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>